<div id="banner" class="row">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Assessments.Co</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex w-100">
          <form class="d-flex me-auto" (ngSubmit)="onSearch()">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search Assessments"
              aria-label="Search"
              [(ngModel)]="searchQuery"
              name="searchQuery"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" [routerLink]="['/home']"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/assessment']">Assessments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
              <div
                matBadge="{{ totalItems }}"
                matBadgeOverlap="true"
                class="demo-section"
              >
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cart']">Cart</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                Login
              </button>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
              <button
                type="button"
                class="btn btn-primary"
                (click)="onLogout()"
                [routerLink]="['/home']"
              >
                Logout
              </button>
            </li>
          </ul>
          <!-- Modal -->

          <!-- Login Modal -->
          <div
            class="modal fade"
            id="loginModal"
            tabindex="-1"
            aria-labelledby="loginModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="loginModalLabel">
                    Login Form
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        aria-describedby="emailHelp"
                        required
                      />
                      <div
                        *ngIf="
                          loginForm.get('email')?.touched &&
                          loginForm.get('email')?.invalid
                        "
                        class="invalid-feedback"
                      >
                        Please provide a valid email address.
                      </div>
                      <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        formControlName="password"
                        required
                      />
                      <div
                        *ngIf="
                          loginForm.get('email')?.touched &&
                          loginForm.get('email')?.invalid
                        "
                        class="invalid-feedback"
                      >
                        Please provide a password.
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <p style="padding-right: 20px">
                    Haven't registered yet? Join Assessments.Co Now!
                  </p>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#registerModal"
                    data-bs-dismiss="modal"
                  >
                    Register
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Register Modal -->
          <div
            class="modal fade"
            id="registerModal"
            tabindex="-1"
            aria-labelledby="registerModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="registerModalLabel">
                    Register Form
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    [formGroup]="registerForm"
                    (ngSubmit)="onSubmit(registerForm)"
                  >
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="firstNameInput" class="form-label"
                          >First Name</label
                        >
                        <input
                          type="text"
                          id="firstNameInput"
                          formControlName="firstName"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('firstName')?.touched &&
                            registerForm.get('firstName')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          First Name is required!
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="lastNameInput" class="form-label"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          id="lastNameInput"
                          formControlName="lastName"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('lastName')?.touched &&
                            registerForm.get('lastName')?.invalid
                          "
                        >
                          Last Name is required!
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="emailInput" class="form-label">Email</label>
                        <input
                          type="email"
                          id="emailInput"
                          formControlName="email"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('email')?.touched &&
                            registerForm.get('email')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          Email is required and must be a valid email!
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="mobileInput" class="form-label"
                          >Mobile</label
                        >
                        <input
                          type="text"
                          id="mobileInput"
                          formControlName="mobile"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('mobile')?.touched &&
                            registerForm.get('mobile')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          Mobile is required!
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="dobInput" class="form-label"
                          >Date of Birth</label
                        >
                        <input
                          type="date"
                          id="dobInput"
                          formControlName="dob"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('dob')?.touched &&
                            registerForm.get('dob')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          Date of Birth is required and cannot be in the future!
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="roleInput" class="form-label">Role</label>
                        <input
                          type="text"
                          id="roleInput"
                          formControlName="role"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('role')?.touched &&
                            registerForm.get('role')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          Role is required!
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label for="passwordInput" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          id="passwordInput"
                          formControlName="password"
                          class="form-control"
                          required
                        />
                        <div
                          *ngIf="
                            registerForm.get('password')?.touched &&
                            registerForm.get('password')?.invalid
                          "
                          class="invalid-feedback"
                        >
                          Password is required!
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="confirmPassword" class="form-label"
                          >Confirm Password</label
                        >
                        <input
                          type="password"
                          id="confirmPassword"
                          formControlName="confirmPassword"
                          class="form-control"
                          [class.is-invalid]="(submitted && formControl['confirmPassword'].invalid) || (submitted && registerForm.errors?.['mismatch'])"
                          required
                        />
                        <div
                          *ngIf="submitted && (formControl['confirmPassword'].invalid || registerForm.errors?.['mismatch'])"
                          class="invalid-feedback"
                        >
                          Confirm Password is required and must match the
                          Password!
                        </div>
                      </div>
                    </div>

                    <div formGroupName="address">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="houseNoInput" class="form-label"
                            >House Number</label
                          >
                          <input
                            type="text"
                            id="houseNoInput"
                            formControlName="houseNo"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="streetInput" class="form-label"
                            >Street</label
                          >
                          <input
                            type="text"
                            id="streetInput"
                            formControlName="street"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="areaInput" class="form-label">Area</label>
                          <input
                            type="text"
                            id="areaInput"
                            formControlName="area"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="stateInput" class="form-label"
                            >State</label
                          >
                          <input
                            type="text"
                            id="stateInput"
                            formControlName="state"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="countryInput" class="form-label"
                            >Country</label
                          >
                          <input
                            type="text"
                            id="countryInput"
                            formControlName="country"
                            class="form-control"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="pincodeInput" class="form-label"
                            >Pincode</label
                          >
                          <input
                            type="text"
                            id="pincodeInput"
                            formControlName="pincode"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
