<div class="container mt-4">
  <h4>List of Assessments</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Course Name</th>
        <th scope="col">Price</th>
        <th scope="col">Course Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of arrCourse">
        <tr
          *ngIf="
            (userRole === 'faculty' && userId === user.faculty_id) ||
            userRole === 'admin'
          "
        >
          <td>{{ user.id }}</td>
          <td>{{ user.aName }}</td>
          <td>{{ user.aPrice }}</td>
          <td>{{ user.aDes | truncate : 3 }}</td>
          <td>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="generateDocx()">
    Download Detailed Info
  </button>
</div>
