<main>
  <div class="container text-center" id="home_text">
    <h2>Available Assessments</h2>
  </div>

  <div id="content_cards" class="row justify-content-around">
    <div
      class="col-12 col-md-4 home_card"
      *ngFor="let assessment of lastThreeProducts"
    >
      <div class="card mb-3">
        <img
          [src]="assessment.aImgSrc"
          class="card-img-top"
          alt="{{ assessment.aName }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ assessment.aName }}</h5>
          <p class="card-text">
            {{ assessment.aDes }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Price: {{ assessment.aPrice | currency }}
          </li>
          <li class="list-group-item">Marks: {{ assessment.marks }}</li>
          <li class="list-group-item">Date: {{ assessment.time | date }}</li>
        </ul>
        <div class="card-body">
          <button
            class="btn btn-primary"
            (click)="displayDetails(assessment.id)"
          >
            View More
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
