<div class="container">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit(addCategoryForm.value)" class="needs-validation"
        novalidate>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="categoryIdInput" class="form-label">Category Id</label>
                <input type="string" id="categoryIdInput" formControlName="categoryId" class="form-control" required />
                <div *ngIf="submitted && formControl['categoryId'].errors?.['required']" class="invalid"
                    style="background-color: lightcoral; border: 1px solid salmon">
                    ! Category Id is required!
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="categoryDescriptionInput" class="form-label">Category Description</label>
                <textarea id="categoryDescriptionInput" formControlName="categoryDescription" class="form-control" rows="5"
                    required></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit Form</button>
    </form>
</div>